*{
    margin: 0;
}
.container {
    width: 90%;
    margin:0 auto;
}

.portrait {
    background-image: url("../images/barak.png");
    background-size: cover;
    position: relative;
}

.accueil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #222; 
    height: 750px;

}
#contactAccueil {
   margin-left: 15px;
}
.voletdroiteHome {
    background-color: black;
    color: azure; 
}
.sheader header nav ul li a{
    color: azure;
}
 
.text_portrait {
    border-top: 1px solid honeydew;
    border-bottom: 1px solid honeydew;
    width: 75%;
    height: 16%;
    margin: 0 0 6% 15%;
    text-align: center;
    position: absolute;
    bottom: 5%;
    padding-top: 5%;
    color: aqua;
}
.portrait p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(243, 243, 243);
    margin-left: 20%;
}

.sujet section {
    border: 1px solid black;
    width: 40%;
    height: 50%;
    border-radius: 50%;
    margin:auto;
    text-align: center;
    padding: 10%;
    background-color: #41464b;
    color: honeydew;
    font-size: 1.5em;
    font-weight: 30px;

    display: table;
}

section a{
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color:  rgb(243, 243, 243);;
}
.portrait p:nth-child(2) {
    text-align: center;
    position: absolute;
    bottom: 8%;
    font-size: 4.5em;
    /* margin: auto; */
}
.portrait p:nth-child(3) {
    text-align: center;
    position: absolute;
    bottom: 1%;
    font-size: 25px;
}

.sujet {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 5%;
    width: 94%;
    height: 78%;
} 
    .images img{
        width: 100%;
        height: 70%;
        overflow: hidden;
    }
    .global_experience {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px; 
    }
    
    .text_technos {
        width: 100%;
        /* height: 100%; */
        /* margin: o auto; */
        text-align: center;
        margin-top: 30px;
    }
    .technos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px; 
    width: 100%;
    } 

    .themes_metier img {
        width: 70%;
        border-radius: 10px;
        overflow: hidden;
    }
    .titre_metier section {
        text-align: center;
    }
.apropos {
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr 3fr;
/* grid-template-columns: 1fr 1fr; */
grid-column-gap: 0px;
grid-row-gap: 0px;
background-color: #222;
color: aliceblue;
}
.gauche_apropos img {
    width: 100%;
    border-radius: 10px;
    grid-auto-flow: auto;
}

.gauche_apropos {
    /* border: 1px solid red; */
    
    display: grid;
    align-items: stretch;
}

.titre_apropos {
    width: 100%;
    height: 65px;
    padding-left: 7px;
    padding-top: 10px;
    border-bottom: 1px dotted rgb(252, 251, 247);
}

.parent_experiences {
 display: grid;
grid-template-columns: repeat(2, 1fr);
 grid-template-rows:  1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100%;
/* height: 500px;   valeur à étudier */
/* border: 1px solid violet; */
}

.droite_apropos {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 8fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
padding-left: 10px;
}

.experiences {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr repeat(2, 3fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
border-right: 1px dotted rgb(252, 251, 247);
} 

.suis_je {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 3fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
padding: 10px;
}
.metier {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 4fr;
grid-column-gap: 5px;
grid-row-gap: 5px;
justify-content: space-around;
justify-items: stretch;
align-items: center;
margin-top: 20px;

}

.parent_themes_metier {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 10px;
border-radius: 10px;
text-align: center;
}

/* .droite_apropos .telecharger {
    position: relative;
    bottom: 45px;
} */
.text_adress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    justify-content: center;
    justify-items: center;
    align-items: start;
    align-content: center;
    border-top: 1px dotted rgb(252, 251, 247);
}
.text_contact {
    text-align: center;
}
footer {
    height: 110px;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding-top: 3%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
footer div a {
    text-decoration: none;
    color: aliceblue;
    width: 2%;
}
.formulaire {
    padding-top: 20px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 1px dotted rgb(252, 251, 247);
}
.svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 2em;
    /* overflow: visible; */
    vertical-align: -0.125em;
}
.formulaire {
    background-color: #222;
    background-repeat: repeat-y;
    padding-top: 0;
 

}
.contact {
    background-color: #222; 
    color: aliceblue;
    padding-bottom: 5px;
}

.btn-sm {

    padding: 5px 16px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 0;
}
.btn-default {
    background: aliceblue;
    color: #4D3B00;
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
}